#page {
    font-size: 15pt;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar main";
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30pt;
    padding: 15px 15px 7px;
    font-family: 'Cabin Sketch', serif;
}

h2 {
    font-size: 26pt;
    padding: 15px 15px 7px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Cabin Sketch', serif;
}

h3 {
    font-size: 20pt;
    padding: 15px 15px 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: serif;
}

#first_header{
    margin-top: 0;
    padding-top: 5px;
}

@media only screen and (max-width: 900px) {
    #page {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "sidebar"
        "main";
    }

    #portrait {
        max-width: 217px;
    }
}

@media only screen and (min-width: 900px) {
    #sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
        box-sizing: border-box;
    }
}

#sidebar {
    padding: 50px 30px;
    background-color: #b0b0b0;
    text-align: center;
    grid-area: sidebar;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#portrait {
    width: 75%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main_content {
    padding: 50px 30px;
    grid-area: main;
    line-height: 1.2;
}

#main_content p{
    padding: 0 15px 0 23px;
}

.paper {
    margin-bottom: 1.5em;
    padding: 0 15px 0 23px;
}

.paper .title {
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.paper .data{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
}

.sidebar_data{
    padding-top: 6px;
    padding-bottom: 6px;
}
